/* Computer devices */

.background {
  z-index: -2;
  position: fixed;
}

.head-font {
  font-family: "Spectral", serif;
  font-size: 50px;
}

.body-font {
  font-family: "Karla", sans-serif;
  font-size: 20px;
}

.top-colour {
  display: flex;
  background-color: lightblue;
  line-height: 150px;
  font-size: 50px;
}

.flex-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: lightblue;
}

.flex-footer2 {
  flex-direction: column;
}

.blacken {
  text-decoration: none;
  color: black;
}

/*index.html*/
.flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}

.flex-introduction {
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 300px;
}

.flex-links {
  display: flex;
}

.link {
  width: 150px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 5%;
}

/*education.html*/
.flex-rightside {
  display: flex;
  flex-direction: column;
  margin-left: 850px;
  margin-right: 300px;
}

.flex-leftside {
  display: flex;
  flex-direction: column;
  margin-right: 850px;
  margin-left: 300px;
}
.arrow {
  z-index: -1;
  position: absolute;
  right: 625px;
  height: 1680px;
  width: 250px;
}

/*projects*/
.flexbox {
  display: flex;
}

.text {
  flex-direction: column;
  margin-right: 150px;
  margin-left: 100px;
}

.firstImage {
  height: 500px;
  width: 1000px;
  margin-right: 200px;
}

.secondImage {
  height: 400px;
  width: 800px;
  margin-right: 100px;
}

.thirdImage {
  height: 500px;
  width: 1000px;
  margin-right: 200px;
}

/* Mobile Devices */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flex-rightside {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .flex-leftside {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
